@using EVTrend.Areas.Content.Models
@using System.Data
@{
    ViewData["MgtTitle"] = "總體碳排量管理";
    ViewData["AddTitle"] = "新增總體碳排量";
}
@{

    IEnumerable<MgtTotalCarbonModel> TotalCarbons = ViewData["GetTotalCarbon"] as IEnumerable<MgtTotalCarbonModel>;
    IEnumerable<TimeModel> TotalYears = ViewData["GetYear"] as IEnumerable<TimeModel>;
    IEnumerable<CountryModel> TotalCountry = ViewData["GetCountry"] as IEnumerable<CountryModel>;
}
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</head>
<body>
    <div class="container" id="MgtTotalCarbon">
        <div class="row">
            <!-- ko ifnot: IsClickAdd() -->
            <h1 id="title">@ViewData["MgtTitle"]</h1>
            <!-- /ko -->
            <!-- ko if: IsClickAdd() -->
            <h1 id="title">@ViewData["AddTitle"]</h1>
            <!-- /ko -->
            <div class="col-12" style="margin: 10px 0px 10px 0px;">
                <!-- ko ifnot: IsClickAdd() -->
                <!--<div>
        <select class="form-control required" id="filter" name="filter">
            <option value=1>美國</option>
            <option value=2>台灣</option>
            <option value=0>全部</option>
        </select>
    </div>-->
                <div>
                    <div class="col-12 form-inline">
                        <label>國家：</label>
                        @if (ViewData["SelectCountryNo"] != null)
                        {
                            <select class="form-control" name="selectCountryNo" id="selectCountryNo" onchange="select(this.value);">
                                <option value="-1">------</option>
                                @{ List<CountryModel> SelectCountry = (List<CountryModel>)ViewData["GetCountry"];
                                    foreach (var select in SelectCountry)
                                    {
                                        if (select.CountryNo.ToString() == ViewData["SelectCountryNo"].ToString())
                                        {
                                            <option value=@select.CountryNo.ToString() selected>@select.CountryName</option>
                                        }
                                        else
                                        {
                                            <option value=@select.CountryNo.ToString()>@select.CountryName</option>
                                        }
                                    }
                                }

                            </select>
                        }
                        else
                        {
                            <select class="form-control" name="selectCountryNo" id="selectCountrysNo" onchange="select(this.value);">
                                <option value="-1" selected>------</option>
                                @{ List<CountryModel> SelectCountry = (List<CountryModel>)ViewData["GetCountry"];
                                    foreach (var select in SelectCountry)
                                    {
                                        <option value=@select.CountryNo.ToString()>@select.CountryName</option>
                                    }
                                }

                            </select>
                        }
                    </div>
                        <button type="button" class="btn btn-primary" onclick="add()">新增</button>
                    </div>

                    <!-- /ko -->
                </div>
            <div class="col-12" id="add" name="add" style="display: none;">
                <form method="POST" id="addform" name="addform">
                    <br>
                    <div class="col-12 form-inline">
                        <label class="ye">年份：</label>
                        <select class="form-control required" id="addYear" name="addYear">
                            @foreach (var item in TotalYears)
                            {
                                <option value="@item.YearNo">@item.YearName</option>
                            }
                        </select>
                    </div>
                    <br>
                    <div class="col-12 form-inline">
                        <label>國家：</label>
                        <select class="form-control required" id="addCountry" name="addCountry">
                            @foreach (var item in TotalCountry)
                            {
                                <option value="@item.CountryNo">@item.CountryName</option>
                            }
                        </select>
                    </div>
                    <br>
                    <div class="col-12 form-inline">
                        <label>運輸業碳排量：</label>
                        <input type="number" class="form-control required" id="addT_CarbonNumber" name="addT_CarbonNumber" />
                    </div>
                    <br>
                    <div class="col-12 form-inline">
                        <label>總體碳排量：</label>
                        <input type="number" class="form-control required" id="addTotal_CarbonNumber" name="addTotal_CarbonNumber" />
                    </div>
                    <br>
                    <div class="col-12 form-inline">
                        <button type="submit" class="btn btn-success" onclick="addCarbon('addYear','addCountry','addT_CarbonNumber','addTotal_CarbonNumber'); return false;">確認</button>
                        <span>&nbsp;&nbsp;</span>
                        <button type="button" class="btn btn-secondary" onclick="cancelAdd()">取消</button>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <table class="table" id="TotalCarbonTable" name="TotalCarbonTable" style="text-align: center;">
                    <thead>
                        <tr>
                            
                            <th scope="col">年份</th>
                            <th scope="col">國家</th>
                            <th scope="col">運輸業碳排量</th>
                            <th scope="col">總體碳排量</th>
                            <th scope="col">創建時間</th>
                            <th scope="col">修改時間</th>
                            <th scope="col">執行動作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MgtTotalCarbonModel item in TotalCarbons)
                        {
                            <tr>
                                <!-- ko ifnot: IsEdit() && Item() == @item.TotalCarbonNo -->
                                
                                <td class="align-middle">@item.Year</td>
                                <td class="align-middle">@item.Country</td>
                                <td class="align-middle">@item.T_CarbonNumber</td>
                                <td class="align-middle">@item.TotalCarbonNumber</td>
                                <td class="align-middle">@item.CreateTime</td>
                                <td class="align-middle">@item.ModifyTime</td>
                                <td class="align-middle">
                                    <!-- ko if: IsClickEdit() && Item() != @item.TotalCarbonNo -->
                                    <button type="button" class="btn btn-primary" disabled="disabled">修改</button>
                                    
                                    <button type="button" class="btn btn-danger" disabled="disabled">刪除</button>
                                    <!-- /ko -->
                                    <!-- ko ifnot: IsClickEdit() -->
                                    <button type="button" class="btn btn-primary" id="Edit" onclick="editCarbon('@item.TotalCarbonNo')">修改</button>
                                    <span>&nbsp;&nbsp;</span>
                                    <button type="button" class="btn btn-danger" onclick="deleteSubmit('@item.TotalCarbonNo')">刪除</button>
                                    <!-- /ko -->
                                </td>
                                <!-- /ko -->
                            </tr>
                            <tr>
                                <!-- ko if: IsEdit() && Item() == @item.TotalCarbonNo -->
                                
                                <td class="align-middle">@item.Year</td>
                                <td class="align-middle">@item.Country</td>
                                <td class="align-middle">
                                    <input type="number" class="form-control" id="editT_CarbonNumber" name="editT_CarbonNumber" value="@item.T_CarbonNumber">
                                </td>
                                <td class="align-middle">
                                    <input type="number" class="form-control" id="editTotalCarbonNumber" name="editTotalCarbonNumber" value="@item.TotalCarbonNumber">
                                </td>
                                <td class="align-middle">@item.CreateTime</td>
                                <td class="align-middle">@item.ModifyTime</td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-success" onclick="saveCarbon(@item.TotalCarbonNo, 'editT_CarbonNumber', 'editTotalCarbonNumber')">確認</button>
                                    <button type="button" class="btn btn-secondary" onclick="cancelEdit(@item.TotalCarbonNo)">取消</button>
                                </td>
                                <!-- /ko -->
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    this.IsClickAdd = ko.observable(false);
    this.IsEdit = ko.observable(false);
    this.IsClickEdit = ko.observable(false);
    this.Item = ko.observable(0);
    ko.applyBindings($("#MgtTotalCarbon").get(0));

    function select(data) {
        let args = {
            CountryNo: data
        };
        $.ajax({
            url: '@Url.Action("SelectCountryNo")',
            data: args,
            method: "POST",
            async: true,
            success: function (response) {
                if (response) {
                    if (data != null && data != "-1") {
                        window.location.href = window.location.href.split('?')[0] + "?CountryNo=" + data;
                    }
                    else {
                        window.location.href = window.location.href.split('?')[0];
                    }
                } else {
                    window.location.href = window.location.href.split('?')[0] + "?CountryNo=" + data;
                    alert("查無資料");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //篩選國家顯示數據
    $("#filter").on("change", function (e) {
        CountryNo = $(this).val()
        $.ajax({
            type: "GET",
            url: "MgtTotalCarbon/GetCountryTotalCarbon",
            data: {
                "CountryNo": CountryNo,
            },
            async: true,
            beforeSend: function () {

            },
            success: function (result) {
                console.log(result);



            },
            error: function (e) {
                console.log(e);
            }
        });
    });

    //新增
    function add() {
        this.IsClickAdd(true);

        var add = document.getElementById("add");
        var TotalCarbonTable = document.getElementById("TotalCarbonTable");

        add.style.display = "block";
        TotalCarbonTable.style.display = "none";
    }

    //儲存新增
    function addCarbon(addYear,addCountry,addT_CarbonNumber,addTotal_CarbonNumber) {
        var YearNo = document.getElementById(addYear).value;
        var CountryNo = document.getElementById(addCountry).value;
        var T_CarbonNumber = document.getElementById(addT_CarbonNumber).value;
        var TotalCarbonNumber = document.getElementById(addTotal_CarbonNumber).value;


        //數字限制條件 驗證非負浮點數（正浮點數   0）
        var NumberReg = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;

        //輸入檢查
        if (YearNo == "" || CountryNo == "") {
            alert("請選擇確切的年份和國家！");
            return false
        }
        else if (!NumberReg.test(T_CarbonNumber) || T_CarbonNumber == "" ) {
            alert("請輸入正確碳排量！ (非負數字)");
            document.getElementById(addT_CarbonNumber).focus();
            return false
        }
        else if (!NumberReg.test(TotalCarbonNumber) || TotalCarbonNumber == "") {
            alert("請輸入正確碳排量！ (非負數字)");
            document.getElementById(addTotal_CarbonNumber).focus();
            return false
        }
        else if (parseFloat(T_CarbonNumber) > parseFloat(TotalCarbonNumber)) {
            alert("請輸入正確碳排量！(總體碳排量須高於運輸業碳排量)");
            document.getElementById(addT_CarbonNumber).focus();
            return false;
        }

        $.ajax({
            type: "POST",
            url: "MgtTotalCarbon/InsertTotalCarbon",
            data: {
                "YearNo": YearNo,
                "CountryNo": CountryNo,
                "T_CarbonNumber": T_CarbonNumber,
                "TotalCarbonNumber": TotalCarbonNumber
            },
            async: true,
            beforeSend: function () {

            },
            success: function (result) {
                //console.log(data);
                if (result == true) {
                    //searchSubmit();
                    alert("新增成功")
                    window.location.reload();
                    //$("#msg").text("新增成功");
                } else {
                    alert("新增失敗!! 可能失敗原因：資料已存在、權限不足")
                    //location.reload();
                    //$("#msg").text("新增失敗!! 可能失敗原因：輸入錯誤(須為整數且不為負)、資料已存在、權限不足");
                }


            },
            error: function (e) {
                console.log(e);
            }
        });

    }

    //取消新增
    function cancelAdd() {
        this.IsClickAdd(false);

        var add = document.getElementById("add");
        var TotalCarbonTable = document.getElementById("TotalCarbonTable");

        add.style.display = "none";
        TotalCarbonTable.style.display = "inline-table";
    }

    //修改
    function editCarbon(data) {
        this.IsEdit(true);
        this.IsClickEdit(true);
        this.Item(data);

        var T_CarbonNumber = document.getElementById("editT_CarbonNumber");
        T_CarbonNumber.focus();
    }

    //取消修改
    function cancelEdit(data) {
        this.IsEdit(false);
        this.IsClickEdit(false);
        this.Item(data);
    }

    //儲存修改
    function saveCarbon(id, editT_CarbonNumber, editTotalCarbonNumber) {
        var T_CarbonNumber = document.getElementById(editT_CarbonNumber).value;
        var TotalCarbonNumber = document.getElementById(editTotalCarbonNumber).value;

        //數字限制條件 驗證非負浮點數（正浮點數   0）
        var NumberReg = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;

        //輸入檢查
        if (!NumberReg.test(T_CarbonNumber)) {
            alert("請輸入正確碳排量！ (非負數字)");
            document.getElementById(editT_CarbonNumber).focus();
            return false;
        }
        else if (!NumberReg.test(TotalCarbonNumber)) {
            alert("請輸入正確碳排量！ (非負數字)");
            document.getElementById(editTotalCarbonNumber).focus();
            return false;
        }
        else if (parseFloat(T_CarbonNumber) > parseFloat(TotalCarbonNumber)) {
            alert("請輸入正確碳排量！(總體碳排量須高於運輸業碳排量)");
            document.getElementById(editT_CarbonNumber).focus();
            return false;
        }

        this.IsEdit(false);
        this.IsClickEdit(false);
        this.Item(id);

        $.ajax({
            type: "POST",
            url: "MgtTotalCarbon/UpdateTotalCarbon",
            data: {
                "T_CarbonNumber": T_CarbonNumber,
                "TotalCarbonNumber": TotalCarbonNumber,
                "TotalCarbonNo": id,
            },
            async: true,
            beforeSend: function () {

            },
            success: function (result) {
                //console.log(data);
                if (result == true) {
                    //searchSubmit();
                    alert("修改成功")
                    window.location.reload();
                    //$("#msg").text("新增成功");
                } else {
                    alert("修改失敗，可能原因：權限不足")
                    //location.reload();
                    //$("#msg").text("新增失敗!! 可能失敗原因：輸入錯誤(須為整數且不為負)、資料已存在、權限不足");
                }


            },
            error: function (e) {
                console.log(e);
            }
        });


    }

    //刪除功能
    function deleteSubmit(id) {
        //視窗提示
        if (window.confirm("是否確定要刪除?")) {
            this.Item(id);
            $.ajax({
                type: "POST",
                url: "MgtTotalCarbon/DeleteTotalCarbon",
                data: {
                    "TotalCarbonNo": id,
                },
                async: true,
                beforeSend: function () {

                },
                success: function (result) {
                    //console.log(data);
                    if (result == true) {
                        alert("刪除成功");
                        window.location.reload();
                        //$("#msg").text("新增成功");
                    } else {
                        alert("刪除失敗!! 可能失敗原因：權限不足");
                        //window.location.reload();
                        //$("#msg").text("新增失敗!! 可能失敗原因：輸入錯誤(須為整數且不為負)、資料已存在、權限不足");
                    }


                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }
</script>
